
.search-filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    gap: 20px; 
    position: sticky;
    top: 0px; 
    margin-top: 20px; 
    flex-wrap: wrap; 
    flex-direction: row; 
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0;
    padding: 8px 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    width: 100%;
    max-width: 500px !important; 
    margin-left: 30px; 
    max-width: 60%; 
    box-sizing: border-box; 
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
    color: #888; 
    margin-right: 10px;
  }
  
  .search-input {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: #333; 
  }
  
  .search-input::placeholder {
    color: #aaa; 
  }
  @media (max-width: 600px) {
    .search-bar {
      max-width: 150px;
    }
  }


